.menu{
  margin:auto;
  background: #393E46;
  color:#fff;
  .nav{

    padding:30px 0;
    width: 80%;
    margin:auto;
    a{ 
      padding:20px;
      color:#fff;
      font-size: 16px;
    }
    a:hover{
      color:#f1f1f1;
    }
  }
}
