@import "../node_modules/bulma/bulma.sass";
@import "./variables";
.flex{
  display: flex;
}
.flex1{
  flex:1;
}
.v-center{
  align-items: center;
  vertical-align:middle;
}
.mt10{
    margin-top:20px;
  }
.main{
  width: 80%;
  
  margin:auto;
}